<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conexion" connectionString="Data Source=DESKTOP-J1N9KFO\SQLEXPRESS;Initial Catalog=JoyeriaCrisolfinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClaseUi.My.MySettings.JoyeriaCrisol11ConnectionString"
            connectionString="Data Source=DESKTOP-PDNSPVO\SQLEXPRESS01;Initial Catalog=JoyeriaCrisol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClaseUi.My.MySettings.JoyeriaCrisol2ConnectionString"
            connectionString="Data Source=DESKTOP-PDNSPVO\SQLEXPRESS01;Initial Catalog=JoyeriaCrisol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClaseUi.My.MySettings.JoyeriaCrisolConnectionString"
            connectionString="Data Source=DESKTOP-PDNSPVO\SQLEXPRESS01;Initial Catalog=JoyeriaCrisol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClaseUi.My.MySettings.JoyeriaCrisol12" connectionString="Data Source=DESKTOP-PDNSPVO\SQLEXPRESS01;Initial Catalog=JoyeriaCrisol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClaseUi.My.MySettings.JoyeriaCrisolTableAdapter" connectionString="Data Source=DESKTOP-J1N9KFO\SQLEXPRESS;Initial Catalog=JoyeriaCrisolfinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
